.header {
    font-size: 40px;
    bottom: 0;
    position: absolute;
    margin: 0;
    padding-bottom: 0;
    margin-top : 50px;
}

QLabel {
    background-color: rgba(red, green, blue, alpha);
}

QHeaderView::section {
    padding: 4px;
    border: 1px solid #000000;
    font-size: 14pt;

}

.QTableWidget {
    gridline-color: rgb(81, 35, 57);
    position: : absolute;
    font-size : 12pt;
    margin-top : 0;
    
}

QTableWidget QTableCornerButton::section {

    border: 2px, solid, red;
}