QMainWindow {
    border: 5px solid #455364;
    border-radius: 10px;
}

QWidget {
    /*background-color: rgb(67, 133, 94);
    color : "white";*/
    background-color: qlineargradient(y1: 0, y2: 1, stop: 0 rgb(55, 90, 70), stop: 1 rgb(67, 133, 94));
    margin: 10px;    
}
              
QLineEdit {
    background-color: "white";
    color : "black";
    border: 0px solid rgba(0, 0, 0, 5);
    border-radius: 10px;
}

QPushButton {
    background-color:  rgb(47, 91, 65);
    font-size: 10;
    color : rgb(255, 255, 255);
    border: 2px solid rgb(88, 33, 107);
    border-radius: 10px;
    padding: 5px;
}

QPushButton:hover {
    background-color: rgb(177, 168, 48);
    border: 0px solid rgba(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), alpha);
    border-radius: 10px;
    color : rgb(88, 33, 107);
    font-size : 12px;
    font-weight: bold;
}

QLabel { 
    color : rgb(177, 168, 48);
    background-color : rgba(red, green, blue, alpha);
}

QListWidget {
    background-color: rgb(202, 202, 202);
}

QComboBox {
    background-color: rgb(202, 202, 202);
}

QDateEdit {
    background-color: rgb(202, 202, 202);
}

QTextEdit {
    background-color: rgb(202, 202, 202);
}