QLabel {
    font-size: 30px;
    margin-left: 85px;
    
}

.minibio {
    margin-left: 0px;
}

.image {
    margin-top: 60px;
}

.bio {
    text-wrap: wrap;
    padding: 100px;
    padding-left: 0px;
}

